body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 200;
    width: 720px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background-color: #fafafa;
}


.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}
.error-msg{
  padding: 20px;
  color: #D30037;
  border: 1px solid #D30037;
  border-radius: 3px;
  background: #F5DCE2;
  margin: 20px 0;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: 'Rubik', sans-serif;
    border-radius: 2px;
    border: 1px solid #ccc;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: 'Georgia', serif;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea.comment-post{
  width: 400px;
  height: 100px;
  font-size: 17px;
  font-family: 'Georgia', serif;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0;
    font-family: 'Rubik', sans-serif;
}
.home-link{
  color: #222;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
}
.main-title p{
    display: block;
    font-size: 20px;
    font-weight: 200;
    margin: 30px 0;
    font-family: 'Rubik', sans-serif;
}
.centered{
  text-align: center;
}
.newpost-btn{
  color: white;
  background: #1ABC9C;
  padding: 5px 14px;
  font-size: 14px;
  text-align: right;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  border-radius: 3px;
  text-decoration: none;
  float: right;
  margin-top: 11px;
}
.large{
  padding: 10px 24px;
  font-size: 18px;
  float: none;
}

.post + .post {
    margin-top: 15px;
}
.post{
  position: relative;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: white;
  padding: 20px;
}

.post-heading {
    position: relative;
}

.post-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}
.post-title a{
  text-decoration: none;
  color: #333;

}

.post-date {
    color: #999;
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.like {
    font-size: 20px;
    margin-left: 10px;
    font-weight: normal;
    color: #E73C59;
}
.like img{
    height: 16px;
    margin-right: 3px;

}

.post-content {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5em;
    font-family: Georgia, sans-serif;
    color: #666;
}

#comments{
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: white;
  padding: 20px;
  margin-top: 10px;

}

#comments .title{
  margin-top: 0;
}

.comment{
  border-top: 1px solid #ccc;
  padding: 20px 0;
  position: relative;
}

.comment + .new-comment{
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.new-comment h3{
  margin: 20px 0;
  font-size: 18px;
}
.comment-content {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5em;
    font-family: Georgia, sans-serif;
    color: #666;
}


#form{
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
  background: white;
}
#form table{
  width: 100%;
}
#form h2{
  text-align: center;
}
#form input[type=text], #form input[type=password] {
    width: auto;
    width: 100%;
    font-size: 18px;
    padding: 6px;
    font-family: sans-serif;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.form-inline{
  display:inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.edit{
  text-decoration: none;
    color: #666;
    border-radius: 2px;
    background-color: #eee;
    padding: 2px 8px;
    font-size: 13px;

}
input[type=submit], .button{
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #efefef;
  border-radius: 3px;
  font-size: 16px;
  color: #333;
  text-decoration: none;

}
.label {text-align: right}
.error {color: red}
.form-link{
  margin-top: 30px;
  text-align: center;
}
