<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,500" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Minimum</title>
</head>

<body>
  <a href="/" class="main-title">
    Minimum
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">Logout</a>)
    {% else %}
      <a class="login-link" href="/login">Login</a>
      |
      <a class="login-link" href="/signup">Signup</a>
    {% endif %}
    | <a class="login-link" href="/newpost">New post</a>
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>
