<!DOCTYPE HTML>
<html>
  <head>
    <title>New blog post</title>
  </head>
  <body>
    <h2>New blog post</h2>
    <form action="" method="post">
      <label for="">
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <label for="">
        <div>Content</div>
        <textarea name="content">{{content}}</textarea>
      </label>
      {% if error %}
        <div class="error">{{error}}</div>
      {% endif%}
      <div>
        <input type="submit">
      </div>
    </form>

  </body>
</html>
