{% extends "base.html" %}

{% block content %}
  <div class="error-msg">{{error}}</div>
  {{post.render(user) | safe}}
  <div id="comments">
    {% if comments.count()>0 %}
      <h3 class="title">Comments</h3>
      {% for c in comments %}
        {{ c.render(user) | safe }}
      {% endfor %}
    {% endif %}
    <form method="post" class="new-comment">
      <label>
        <h3 class="title">New comment</h3>
        <textarea name="content" class="comment-post">{{content}}</textarea>
      </label>

      <input type="submit">
    </form>
  </div>
{% endblock %}
