{% extends "base.html" %}

{% block content %}
  {{post.render(user,error) | safe}}
  <div id="comments">
    {% if comments.count()>0 %}
      <h3>Comments</h3>
      {% for c in comments %}
        {{ c.render(user) | safe }}
      {% endfor %}

    {% endif %}
    <form method="post" class="new-comment">
      <label>
        <h3>New comment</h3>
        <textarea name="content" class="comment-post">{{content}}</textarea>
      </label>
      <div class="error">{{error}}</div>
      <input type="submit">
    </form>
  </div>
{% endblock %}
