<div class="post">
  <div class="post-heading">
    <div class="post-title">

      <a href=/post/{{p.key().id()}}>{{p.subject}}</a>

      {% if is_logged %}
        {% if is_author %}
          <span class="like">
            <img src="/static/like-disabled.svg" />{{p.likes|length}}
          </span>
        {% else %}
          {% if is_liked %}
            <span class="like">
              <a href=/post/like/{{p.key().id()}}>
                <img src="/static/liked.svg" />{{p.likes|length}}
              </a>
            </span>
          {% else %}
            <span class="like">
              <a href=/post/like/{{p.key().id()}}>
                <img src="/static/like.svg" />{{p.likes|length}}
              </a>
            </span>
          {% endif %}
        {% endif %}
      {% else %}
        <span class="like">
          <img src="/static/like-disabled.svg" />{{p.likes|length}}
        </span>
      {% endif %}
    </div>


    <div class="post-date">
      {{p.created.strftime("%d %b %Y")}}
    </div>

  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  {% if is_author %}
    <div class="form-inline">
        <a href=/post/edit/{{p.key().id()}} class="edit">edit</a>
        <a href=/post/delete/{{p.key().id()}} class="edit" onclick="return confirm('Are you sure you want to delete?')" >delete</a>
    </div>
  {% endif %}
  {% if error %}
    <p class="error">{{error}}</p>
  {% endif %}
</div>
