<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href=/blog/{{p.key().id()}}>{{p.subject}}</a>

    </div>
    {% if is_author %}
      <a href=/blog/edit/{{p.key().id()}}>edit</a>
    {% else %}
      {% if is_liked %}
        <a href=/blog/like/{{p.key().id()}}>dislike</a>
      {% else %}
        <a href=/blog/like/{{p.key().id()}}>like</a>
      {% endif %}
    {% endif %}
      likes:{{p.likes|length}}

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
